<ion-content padding text-center>


        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-card>
                        <ion-img src="../../../assets/imgs/chat.jpg"></ion-img>
                        
                        <ion-card-content>
                            <ion-card-title>Welcome to Chatr</ion-card-title>                            
                            <p>Login or Register to unlock the key to the Universe</p>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
            </ion-row>
            <ion-row>
                    <ion-col>
                        <ion-button expand="block" color="secondary" fill="outline" href="/login">
                            <ion-icon slot="end" name="log-in"></ion-icon>
                            Login
                        </ion-button>
                    </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-button expand="block" color="primary" fill="outline" href="/register">
                        <ion-icon slot="end" name="contact"></ion-icon>
                        Register
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    
    

</ion-content>
